# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Ignore model files but keep the folder
models/*
!models/.gitkeep

# Ignore ONLY CSV/ZIP files inside data folder
data/**/*.csv
data/**/*.zip

# Keep directory structure
!data/
!data/user/
!data/synthetic/
!data/amex/

# Allow gitkeep placeholders
!*.gitkeep

# Kaggle Credentials
kaggle.json
